.header-navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-header);
}
.flex {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
