.checkbox-modal {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox-modal__checkbox {
  display: flex;
  align-items: center;
}

.checkbox-modal__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  white-space: pre;
}
.checkbox-modal__text-activ {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}

.checkbox__input {
  -webkit-appearance: none;
  appearance: none;
}
.checkbox-modal__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 7px;
}
.checkbox__input:checked + .checkbox-modal__icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
