.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .contacts-nav__link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time-function) var(--transition-function);
}
.contacts-nav .contacts-nav__link:hover,
.contacts-nav .contacts-nav__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__mail {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: center;
  transition: color var(--time-function) var(--transition-function);
}
.contacts__mail:hover,
.contacts__mail:focus {
  color: var(--accent-color);
}
.contacts__phone {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: center;
  transition: color var(--time-function) var(--transition-function);
}
.contacts__phone:hover,
.contacts__phone:focus {
  color: var(--accent-color);
}
.contacts__envelope-icon,
.contacts__smartphone-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}
.contacts__envelope-icon:hover::before,
.contacts__smartphone-icon:hover::before {
  fill: var(--accent-color);
}
